global
	daemon

	# Default SSL material locations
	# ca-base /etc/ssl/certs
	# crt-base /etc/ssl/private

	# Default ciphers to use on SSL-enabled listening sockets.
	# For more information, see ciphers(1SSL).
	# ssl-default-bind-ciphers kEECDH+aRSA+AES:kRSA+AES:+AES256:RC4-SHA:!kEDH:!LOW:!EXP:!MD5:!aNULL:!eNULL

defaults
	log     global
	mode    http
	option  httplog
	option  dontlognull
	timeout connect 1000
	timeout client  50000
	timeout server  50000

frontend localnodes
	bind *:8050
	mode http
	default_backend nodes

backend nodes
	mode http
	# balance mode, fill the available servers equally
	balance leastconn
	# haproxy will either use this cookie to select a backend, or will set it once one is chosen
	# preserve means that it will leave it alone if the server sets it
	cookie HAPROXID nocache insert preserve
	# a server is healthy as long as /blackbox/health returns a 2xx or 3xx response
	option httpchk GET /blackbox/health
	http-check expect rstatus (2|3)[0-9][0-9]
	# keep sessions stuck, even to bad servers, until the connection fails once
	option persist
	option redispatch 1
	# our two backends, with hardcoded cookie values
	server web01 pdfd-tomcat:8090 check cookie firstserv
	server web02 pdfd-tomcat2:8090 check cookie secondserv
